<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="Konva demo">
    <script src="https://unpkg.com/konva@^3/konva.min.js"></script>
    <meta charset="utf-8">
</head>

<body>
    <div id="container"></div>
</body>

</html>

<script>
    const stage = new Konva.Stage({
        container: 'container',
        width: window.innerWidth,
        height: window.innerHeight
    });

    const layer = new Konva.Layer();
    stage.add(layer);

    layer.add(new Konva.Text({ text: 'try to drag a green source into any red target', padding: 10 }))

    const source = new Konva.Circle({
        x: 20,
        y: 50,
        radius: 10,
        fill: 'green'
    });
    layer.add(source);

    const target1 = new Konva.Circle({
        x: 20,
        y: 220,
        radius: 10,
        fill: 'red',
        name: 'target'
    });
    layer.add(target1);


    const target2 = new Konva.Circle({
        x: 120,
        y: 220,
        radius: 10,
        fill: 'red',
        name: 'target'
    });
    layer.add(target2);


    let drawingLine = false;
    let line;
    source.on('mousedown', () => {
        drawingLine = true;
        const pos = stage.getPointerPosition();
        line = new Konva.Line({
            stroke: 'black',
            // remove line from hit graph, so we can check intersections
            listening: false,
            points: [source.x(), source.y(), pos.x, pos.y]
        });
        layer.add(line);
        console.log(layer)
    });

    stage.on('mouseover', (e) => {
        if (e.target.hasName('target')) {
            e.target.stroke('black');
            layer.draw();
        }
    });

    stage.on('mouseout', (e) => {
        if (e.target.hasName('target')) {
            e.target.stroke(null);
            layer.draw();
        }
    });

    stage.on('mousemove', (e) => {
        if (!line) {
            return;
        }
        const pos = stage.getPointerPosition();
        const points = line.points().slice();
        points[2] = pos.x;
        points[3] = pos.y;
        line.points(points);
        layer.batchDraw();
    });

    stage.on('mouseup', (e) => {
        if (!line) {
            return;
        }
        if (!e.target.hasName('target')) {
            line.destroy();
            layer.draw();
            line = null;
        } else {
            line = null;
        }

    });


    layer.draw();



</script>